# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
my_csv="../output_data/cities_PC.csv"

cities_df=pd.read_csv(my_csv)
cities_df.head()
cities_df.dropna(how='any')

,Unnamed: 0,cities,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_Temp,Wind_Speed
0,0,Busselton,0,AU,1578358068,19,-33.64,115.35,82.99,7.34
1,1,Dikson,100,RU,1578358216,95,73.51,80.55,12.13,10.51
2,2,Atuona,0,PF,1578358216,70,-9.80,-139.03,80.55,12.33
3,3,Kattivakkam,40,IN,1578358216,88,13.22,80.32,80.01,8.05
4,4,Chulym,100,RU,1578358216,95,55.09,80.97,23.22,8.86
...,...,...,...,...,...,...,...,...,...,...
534,534,Rawalpindi,90,PK,1578358244,100,33.60,73.06,46.00,4.70
535,535,Te Anau,96,NZ,1578358244,89,-45.41,167.72,47.44,5.39
536,536,Lodwar,59,KE,1578358244,48,3.12,35.60,82.87,3.80
537,537,Qaqortoq,0,GL,1578358244,36,60.72,-46.03,-4.00,5.82
538,538,Oussouye,69,SN,1578358244,60,12.49,-16.54,68.00,6.93

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store latitude and longitude in locations

locations = cities_df[["Lat", "Lng"]]
humid =cities_df["Humidity"]

print(len(locations))
# Configure gmaps
gmaps.configure(api_key=g_key)

# Plot Heatmap
#fig = gmaps.figure()
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

# Create heat layer
#heat_layer = gmaps.heatmap_layer(locations,weights=humid,dissipating=False,max_intensity=1,point_radius=1)
heat_layer = gmaps.heatmap_layer(cities_df[['Lat', 'Lng']], weights=cities_df['Humidity'],max_intensity=30, point_radius=3.0)
#markers = gmaps.marker_layer(marker_locations)
# Add layer
fig.add_layer(heat_layer)


# Display figure
fig

539

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
fav_places=cities_df[((cities_df["Max_Temp"] >=70) &(cities_df["Max_Temp"] <=80))& (cities_df["Wind_Speed"] >15)& (cities_df["Cloudiness"]>30)]
fav_places.head()

,Unnamed: 0,cities,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_Temp,Wind_Speed
138,138,Wajid,50,SO,1578358224,73,3.81,43.25,77.63,18.66
308,308,Richards Bay,100,ZA,1578358232,84,-28.77,32.06,77.67,18.57
412,412,Sinnamary,85,GF,1578358238,77,5.38,-52.96,79.30,15.57

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
#create cols to store hotel infor a empty DF
fav_places["hotel_name"]=""
fav_places["hotel_lat"]=""
fav_places["hotel_lng"]=""
fav_places.head()

C:\Users\ssjaiswal\Anaconda3\envs\pythondatagmaps\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ssjaiswal\Anaconda3\envs\pythondatagmaps\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\ssjaiswal\Anaconda3\envs\pythondatagmaps\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Unnamed: 0,cities,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_Temp,Wind_Speed,hotel_name,hotel_lat,hotel_lng
138,138,Wajid,50,SO,1578358224,73,3.81,43.25,77.63,18.66,,,
308,308,Richards Bay,100,ZA,1578358232,84,-28.77,32.06,77.67,18.57,,,
412,412,Sinnamary,85,GF,1578358238,77,5.38,-52.96,79.30,15.57,,,

In [6]:
# geocoordinates
#target_coordinates = fav_plcaes[["Lat", "Lng"]]
#target_coordinates="-8.75,-63.87"
target_search = "lodging"
target_radius = 5000
target_type = "International Airport"
#example of airport search
#https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=47.6062095%2C-122.3320708&type=lodging&radius=5000&key=
# set up a parameters dictionary
params = {
     "radius": 5000,
    "type": "lodging",
    "key": g_key
}
#location=47.6062095%2C-122.3320708&type=lodging&radius=5000&key=

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index,row in fav_places.iterrows():
    #create location param by using that rows lat and lng
    lat=row["Lat"]
    lng=row["Lng"]
    params["location"] = f"{lat} {lng}"
    print(params["location"])
    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    
    print(response.url)
    responsej = response.json()
    try:
        fav_places.loc[index,"hotel_name"]=responsej["results"][0]["name"]
        fav_places.loc[index,"hotel_lat"]=responsej["results"][0]["geometry"]["location"]["lat"]
        fav_places.loc[index,"hotel_lng"]=responsej["results"][0]["geometry"]["location"]["lng"]
    except:
        print("no hotel found")

3.81 43.25
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&type=lodging&key=AIzaSyAD7Zb7GTGCz3aDXKnMd2KDfgkKHGznFvA&location=3.81+43.25
-28.77 32.06

C:\Users\ssjaiswal\Anaconda3\envs\pythondatagmaps\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&type=lodging&key=AIzaSyAD7Zb7GTGCz3aDXKnMd2KDfgkKHGznFvA&location=-28.77+32.06
5.38 -52.96
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&type=lodging&key=AIzaSyAD7Zb7GTGCz3aDXKnMd2KDfgkKHGznFvA&location=5.38+-52.96

In [7]:
#drop the nan from the columns if any
fav_places=fav_places.dropna(axis=0, how='any')  
fav_places.head(10)

fav_places.dtypes
#fav_plcaes["hotel_lat"]=fav_plcaes["hotel_lat"].astype(float)
fav_places["hotel_lat"]=pd.to_numeric(fav_places["hotel_lat"],errors='coerce')
fav_places["hotel_lng"]=pd.to_numeric(fav_places["hotel_lng"],errors='coerce')
  
fav_places.dtypes  
fav_places.head(10)
fav_places.count()

Unnamed: 0    3
cities        3
Cloudiness    3
Country       3
Date          3
Humidity      3
Lat           3
Lng           3
Max_Temp      3
Wind_Speed    3
hotel_name    3
hotel_lat     3
hotel_lng     3
dtype: int64

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{hotel_name}</dd>
<dt>City</dt><dd>{cities}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in fav_places.iterrows()]
locations = fav_places[["hotel_lat", "hotel_lng"]]

In [9]:
# Add marker layer ontop of heat map
#marker_locations=fav_places[["hotel_lat", "hotel_lng"]]
#markers = gmaps.marker_layer(marker_locations)

#taking variable from above given code

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Display Map
fig

Figure(layout=FigureLayout(height='420px'))